main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
}

.search-nav {
  background-color: #1a1a1a;
  color: white;
  width: 100%;
  flex-wrap: wrap;
  min-width: 950px;
}

.nav-container {
  padding: 0px 30px;
  
  h1 {
  font-weight: 200;
  font-size: 20px;
  float: left;
  padding-right: 20px;
}

#search-button {
  border-radius: 2px;
  border: 1px solid #08a0e9;
  color: #08a0e9;
  background-color: #1a1a1a;
  padding: 10px 15px;
  float: right;
  transition: all 0.3s ease;
  margin-top: 12px;
  font-weight: bold;
}

#search-button:hover {
  border: 2px solid #08a0e9;
}

#search-button:focus {
    outline: none;
}

#today, #yesterday, #week {
  border-radius: 2px;
  border: 1px solid white;
  color: white;
  background-color: #1a1a1a;
  padding: 10px 15px;
  float: left;
  transition: all 0.3s ease;
  margin-top: 12px;
  font-weight: bold;
}

#today:hover, #yesterday:hover, #week:hover {
  border: 2px solid #08a0e9;
}

#today:focus, #yesterday:focus, #week:focus {
  outline: none;
}

input[type=text] {
  box-sizing: border-box;
  height: 30px;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  background-color: #1a1a1a;
  transition: all 0.3s ease;
}

input[type=text]:hover {
  border-bottom: 2px solid #08a0e9;
}

input[type=text]:focus {
  outline: none;
}

input.location-error {
  border-bottom: 2px solid red;
}

input.location-error:hover {
  border-bottom: 2px solid red;
}